@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	@apply dark:text-white dark:border-slate-800;
	transition: all 0.5s ease-in-out;
}

.modal {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	/* background-color: white; */
	padding: 1rem;
	text-align: center;
	width: 30rem;
	z-index: 30;
	position: fixed;
	top: 20vh;
	left: calc(50% - 15rem);
}

.backdrop {
	position: fixed;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

@layer components {
	.btn {
		@apply hover:cursor-pointer hover:scale-110 hover:-translate-y-px active:translate-y-[1px] transition;
	}

	.btn-md {
		@apply mx-3 my-1 p-2 border-2 rounded-md shadow;
	}

	.todosRow {
		@apply p-3 h-14 bg-white dark:bg-slate-700;
	}

	.footer-btn {
		@apply btn text-sm xs:text-lg  xs:mx-2 sm:mx-3 hover:contrast-150 hover:brightness-90;
	}

	.active {
		@apply text-sky-600 font-semibold !important;
	}

	.main {
		@apply w-11/12 sm:w-4/5 max-w-[600px] min-h-[400px] top-16 relative sm:top-28 m-auto z-10 opacity-[97%];
	}

	.list-and-footer {
		@apply h-[73vh] sm:h-[calc(10*3.5rem)]  shadow-2xl mt-4 bg-white dark:bg-slate-700 rounded;
	}
}

.title {
	font-family: 'Comfortaa', cursive;
}

.dark-bg-1-pos {
	background-position-y: 0%;
}

.light-bg-1-pos {
	background-position-y: 60%;
}

.titleLetterT {
	fill: transparent;
	stroke-dasharray: 144.88885498046875;
	stroke-dashoffset: 144.88885498046875;
	animation: line-appear 4s ease forwards 0.2s, fill 2s ease forwards 1s;
}

.titleLetterO1 {
	fill: transparent;
	stroke-dasharray: 219.93272399902344;
	stroke-dashoffset: 219.93272399902344;
	animation: line-appear 4s ease forwards 0.7s, fill 2s ease forwards 1.5s;
}

.titleLetterD {
	fill: transparent;
	stroke-dasharray: 219.93284606933594;
	stroke-dashoffset: 219.93284606933594;
	animation: line-appear 4s ease forwards 1.2s, fill 2s ease forwards 2s;
}

.titleLetterO2 {
	fill: transparent;
	stroke-dasharray: 208.92164611816406;
	stroke-dashoffset: 208.92164611816406;
	animation: line-appear 4s ease forwards 1.7s, fill 1.8s ease forwards 2.5s;
}

@keyframes line-appear {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	to {
		fill: rgb(255, 255, 255);
	}
}

.checked-svg {
	transition-duration: 0.8s;
}

.tick {
	fill: transparent;
	stroke-dasharray: 24.591514587402344;
	stroke-dashoffset: 24.591514587402344;
	transition-timing-function: linear;
	transition-duration: 0.8s;
}

.checked-yes {
	stroke-dashoffset: 0;
	fill: rgb(14 165 233);
}
.checked-no {
	stroke-dashoffset: 24.591514587402344;
	fill: transparent;
}

@media only screen and (max-width: 475px) {
	.footer-btn {
		@apply shadow border p-1 m-px rounded-xl mx-1;
		font-size: 11px !important;
	}
}
