@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.modal {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background-color: white;
	padding: 1rem;
	text-align: center;
	width: 30rem;
	z-index: 10;
	position: fixed;
	top: 20vh;
	left: calc(50% - 15rem);
}

.backdrop {
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

@layer components {
	.btn {
		@apply hover:cursor-pointer hover:scale-110 hover:-translate-y-px active:translate-y-[1px] transition;
	}

	.btn-md {
		@apply mx-3 my-1 p-2 border-2 rounded-md shadow;
	}

	.todosRow {
		@apply p-3 h-14;
	}

	.footer-btn {
		@apply btn mx-1 sm:mx-3 hover:contrast-150 hover:brightness-90;
	}

	.active {
		@apply text-sky-600 font-semibold;
	}
}

.title {
	font-family: 'Comfortaa', cursive;
}

.bg-img {
	background-position-y: 15%;
}

#title {
	fill: transparent;
	animation: fill 2s ease forwards 2s;
}

.titleLetterT {
	stroke-dasharray: 144.88885498046875;
	stroke-dashoffset: 144.88885498046875;
	animation: line-appear 4s ease forwards 0.2s;
}

.titleLetterO1 {
	stroke-dasharray: 219.93272399902344;
	stroke-dashoffset: 219.93272399902344;
	animation: line-appear 4s ease forwards 0.2s;
	animation: line-appear 4s ease forwards 0.2s;
}

.titleLetterO2 {
	stroke-dasharray: 208.92164611816406;
	stroke-dashoffset: 208.92164611816406;
	animation: line-appear 4s ease forwards 0.2s;
	animation: line-appear 4s ease forwards 0.2s;
}

.titleLetterD {
	stroke-dasharray: 219.93284606933594;
	stroke-dashoffset: 219.93284606933594;
	animation: line-appear 10s ease forwards 0.2s;
}

@keyframes line-appear {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	to {
		fill: rgb(255, 255, 255);
	}
}

.checked-svg {
	transition-duration: 0.8s;
}

.tick {
	fill: transparent;
	stroke-dasharray: 24.591514587402344;
	stroke-dashoffset: 24.591514587402344;
	transition-timing-function: linear;
	transition-duration: 0.8s;
}

.checked-yes {
	stroke-dashoffset: 0;
	fill: rgb(14 165 233);
}
.checked-no {
	stroke-dashoffset: 24.591514587402344;
	fill: transparent;
}
